<a href="https://colab.research.google.com/github/RileyShin/code_practice/blob/main/Data_Wrangling_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns

In [55]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
from google.colab import files
files.upload();

Saving Discussion_114.csv to Discussion_114.csv

In [203]:
# 데이터 불러오기
diss=pd.read_csv("Discussion_114.csv")

In [130]:
#1차 데이터 형태 파악
diss.head()

,customer_id,email,address_id,name,age
0,524.0,jared.ely@sakilacustomer.org,530.0,"Jared, Ely",age: 58
1,1.0,mary.smith@sakilacustomer.org,5.0,"Mary, Smith",age: 26
2,2.0,patricia.johnson@sakilacustomer.org,6.0,mary - smith,age: 44
3,3.0,NaN,7.0,"Linda, Williams",age: 36
4,4.0,NaN,8.0,"Barbara, Jones",age: 48

 ## ✅ 1차 탐색결과
    

1. customer_id : 


> - 자료형 타입이 실수형태임, 명목형 자료임으로 실수형에서 
정수형으로 바꾼후 문자형 타입으로 변경 필요
- 0번째 객체의 값을 100번째 인덱스로 변경

2.   email 


> - 결측값이 존재함 -대체할 방법이 없으므로 삭제를 하는 방향으로 진행
- '@'가 없는 개체가 있으므로 '@'가 들어있지 않는 행은 넣기
- 이메일의 앞만 있다면, 'sakilacustomer.org'를 넣기

3. address_id


> - 수치형 형태이기 때문에 customer_id에 4가 더해진 형태인듯 함 
- 자료형타입이 실수형이므로, '실수형 → 정수형 → 문자형'으로 바꾸기

4. name


> 문자들 가운데 , , -,을 공백으로 바꾸고 시작점들을 capitalize()를 사용해 대문자화 해 두개로 쪼개 성, 이름 변수에 저장

5. age


> 뒤에 두개를 추출한 후, 타입을 변경하기

### ❤ customer_id 데이터 탐색 & 정제

In [204]:
diss.query('customer_id > 100')

   customer_id                         email  address_id        name      age
0        524.0  jared.ely@sakilacustomer.org       530.0  Jared, Ely  age: 58

In [205]:
diss.customer_id.loc[0]=100.0

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [206]:
# customer_id 기준 정렬
diss.sort_values('customer_id').head()

,customer_id,email,address_id,name,age
1,1.0,mary.smith@sakilacustomer.org,5.0,"Mary, Smith",age: 26
2,2.0,patricia.johnson@sakilacustomer.org,6.0,mary - smith,age: 44
3,3.0,NaN,7.0,"Linda, Williams",age: 36
4,4.0,NaN,8.0,"Barbara, Jones",age: 48
5,5.0,NaN,9.0,"Elizabeth, Brown",age: 46

In [207]:
# 타입 변경하기 (실수 → 정수)
diss['customer_id']=diss.customer_id.astype('int')
diss.head()

,customer_id,email,address_id,name,age
0,100,jared.ely@sakilacustomer.org,530.0,"Jared, Ely",age: 58
1,1,mary.smith@sakilacustomer.org,5.0,"Mary, Smith",age: 26
2,2,patricia.johnson@sakilacustomer.org,6.0,mary - smith,age: 44
3,3,NaN,7.0,"Linda, Williams",age: 36
4,4,NaN,8.0,"Barbara, Jones",age: 48

In [208]:
# customer_id를 기준으로 정렬하기
diss=diss.sort_values('customer_id')
diss.tail()

,customer_id,email,address_id,name,age
96,96,annie.russell,100.0,"Diana, Alexander",age: 56
97,97,annie.russell@sakilacustomer.org,101.0,"Annie, Russell",age: 43
98,98,lillian.griffin@sakilacustomer.org,102.0,"Lillian, Griffin",age: 21
99,99,"emily.diaz, sakilacustomer.org",103.0,"Emily, Diaz",age: 26
0,100,jared.ely@sakilacustomer.org,530.0,"Jared, Ely",age: 58

In [209]:
# 타입 변경하기 (정수 → 문자)
diss['customer_id']=diss.customer_id.astype('str')
diss.head()

,customer_id,email,address_id,name,age
1,1,mary.smith@sakilacustomer.org,5.0,"Mary, Smith",age: 26
2,2,patricia.johnson@sakilacustomer.org,6.0,mary - smith,age: 44
3,3,NaN,7.0,"Linda, Williams",age: 36
4,4,NaN,8.0,"Barbara, Jones",age: 48
5,5,NaN,9.0,"Elizabeth, Brown",age: 46

### ❤ email 데이터 탐색 및 정제

In [210]:
# 데이터 복제하기
diss_cp=diss.copy()

In [211]:
# 본 email 형식에 맞지 않는 것 확인
# 결측치확인

diss_cp[~diss_cp['email'].str.contains('@',na=False)]

,customer_id,email,address_id,name,age
3,3,NaN,7.0,"Linda, Williams",age: 36
4,4,NaN,8.0,"Barbara, Jones",age: 48
5,5,NaN,9.0,"Elizabeth, Brown",age: 46
10,10,"dorothy.taylor, sakilacustomer.org",14.0,"Dorothy, Taylor",age: 47
96,96,annie.russell,100.0,"Diana, Alexander",age: 56
99,99,"emily.diaz, sakilacustomer.org",103.0,"Emily, Diaz",age: 26

In [212]:
# email 형식에 맞게 변경하기 
diss_cp['email']=diss_cp.email.str.replace(',','@')

In [213]:
diss_cp[~diss_cp['email'].str.contains('@',na=False)]

   customer_id          email  address_id              name      age
3            3            NaN         7.0   Linda, Williams  age: 36
4            4            NaN         8.0    Barbara, Jones  age: 48
5            5            NaN         9.0  Elizabeth, Brown  age: 46
96          96  annie.russell       100.0  Diana, Alexander  age: 56

In [214]:
diss_cp.email.loc[96]=diss_cp.email.loc[96]+'@sakilacustomer.org'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [215]:
diss_cp.email.loc[96]

'annie.russell@sakilacustomer.org'

In [216]:
diss=diss_cp

In [217]:
#email의 결측값 채우기
name=diss_cp['name'].str.split(',')

diss_cp['email']=diss_cp['email'].fillna(name.str.get(0).str.lower()+'.'+name.str.get(1).str.lower()+'@sakilacustomer.org')

In [218]:
#email에 공백이 있는 값들 찾기
diss_cp['email']=diss_cp['email'].str.replace(' ','')
diss_cp['email']

1             mary.smith@sakilacustomer.org
2       patricia.johnson@sakilacustomer.org
3         linda.williams@sakilacustomer.org
4          barbara.jones@sakilacustomer.org
5        elizabeth.brown@sakilacustomer.org
6         jennifer.davis@sakilacustomer.org
7           maria.miller@sakilacustomer.org
8           susan.wilson@sakilacustomer.org
9         margaret.moore@sakilacustomer.org
10        dorothy.taylor@sakilacustomer.org
11         lisa.anderson@sakilacustomer.org
12          nancy.thomas@sakilacustomer.org
13         karen.jackson@sakilacustomer.org
14           betty.white@sakilacustomer.org
15          helen.harris@sakilacustomer.org
16         sandra.martin@sakilacustomer.org
17        donna.thompson@sakilacustomer.org
18          carol.garcia@sakilacustomer.org
19         ruth.martinez@sakilacustomer.org
20       sharon.robinson@sakilacustomer.org
21        michelle.clark@sakilacustomer.org
22       laura.rodriguez@sakilacustomer.org
23           sarah.lewis@sakilacustomer.org
24          kimberly.lee@sakilacustomer.org
25        deborah.walker@sakilacustomer.org
26          jessica.hall@sakilacustomer.org
27         shirley.allen@sakilacustomer.org
28         cynthia.young@sakilacustomer.org
29      angela.hernandez@sakilacustomer.org
30          melissa.king@sakilacustomer.org
31         brenda.wright@sakilacustomer.org
32             amy.lopez@sakilacustomer.org
33             anna.hill@sakilacustomer.org
34         rebecca.scott@sakilacustomer.org
35        virginia.green@sakilacustomer.org
36        kathleen.adams@sakilacustomer.org
37          pamela.baker@sakilacustomer.org
38       martha.gonzalez@sakilacustomer.org
39          debra.nelson@sakilacustomer.org
40         amanda.carter@sakilacustomer.org
41    stephanie.mitchell@sakilacustomer.org
42         carolyn.perez@sakilacustomer.org
43     christine.roberts@sakilacustomer.org
44          marie.turner@sakilacustomer.org
45        janet.phillips@sakilacustomer.org
46    catherine.campbell@sakilacustomer.org
47        frances.parker@sakilacustomer.org
48             ann.evans@sakilacustomer.org
49         joyce.edwards@sakilacustomer.org
50         diane.collins@sakilacustomer.org
51         alice.stewart@sakilacustomer.org
52         julie.sanchez@sakilacustomer.org
53        heather.morris@sakilacustomer.org
54         teresa.rogers@sakilacustomer.org
55            doris.reed@sakilacustomer.org
56           gloria.cook@sakilacustomer.org
57         evelyn.morgan@sakilacustomer.org
58             jean.bell@sakilacustomer.org
59         cheryl.murphy@sakilacustomer.org
60        mildred.bailey@sakilacustomer.org
61      katherine.rivera@sakilacustomer.org
62           joan.cooper@sakilacustomer.org
63     ashley.richardson@sakilacustomer.org
64            judith.cox@sakilacustomer.org
65           rose.howard@sakilacustomer.org
66           janice.ward@sakilacustomer.org
67          kelly.torres@sakilacustomer.org
68       nicole.peterson@sakilacustomer.org
69             judy.gray@sakilacustomer.org
70     christina.ramirez@sakilacustomer.org
71           kathy.james@sakilacustomer.org
72        theresa.watson@sakilacustomer.org
73        beverly.brooks@sakilacustomer.org
74          denise.kelly@sakilacustomer.org
75         tammy.sanders@sakilacustomer.org
76           irene.price@sakilacustomer.org
77          jane.bennett@sakilacustomer.org
78             lori.wood@sakilacustomer.org
79         rachel.barnes@sakilacustomer.org
80          marilyn.ross@sakilacustomer.org
81      andrea.henderson@sakilacustomer.org
82       kathryn.coleman@sakilacustomer.org
83        louise.jenkins@sakilacustomer.org
84            sara.perry@sakilacustomer.org
85           anne.powell@sakilacustomer.org
86       jacqueline.long@sakilacustomer.org
87       wanda.patterson@sakilacustomer.org
88         bonnie.hughes@sakilacustomer.org
89          julia.flores@sakilacustomer.org
90       ruby.washington@sakilacustomer.org
91           lois.butler@sakilacustomer.org
92          tina.simmons@sakilacustomer.org
93        phyllis.foster@sakilacustomer.org
94        norma.gonzales@sakilacustomer.org
95          paula.bryant@sakilacustomer.org
96         annie.russell@sakilacustomer.org
97         annie.russell@sakilacustomer.org
98       lillian.griffin@sakilacustomer.org
99            emily.diaz@sakilacustomer.org
0              jared.ely@sakilacustomer.org
Name: email, dtype: object

In [219]:
# 원본 데이터 리뉴얼!
diss=diss_cp

### ❤ address_id 데이터 탐색 및 정제

In [220]:
# customer_id의 타입을 잠시 정수형으로 변경하기
diss_cp['customer_id']=diss_cp['customer_id'].astype('int')

In [221]:
diss_cp['address_id']=diss_cp['customer_id']+4

In [222]:
diss_cp['address_id'].head()

1    5
2    6
3    7
4    8
5    9
Name: address_id, dtype: int64

In [223]:
## customer_id, address_id의 타입을 다시 object로 변경하기

diss_cp['customer_id']=diss_cp['customer_id'].astype('str')
diss_cp['address_id']=diss_cp['address_id'].astype('str')
diss_cp

,customer_id,email,address_id,name,age
1,1,mary.smith@sakilacustomer.org,5,"Mary, Smith",age: 26
2,2,patricia.johnson@sakilacustomer.org,6,mary - smith,age: 44
3,3,linda.williams@sakilacustomer.org,7,"Linda, Williams",age: 36
4,4,barbara.jones@sakilacustomer.org,8,"Barbara, Jones",age: 48
5,5,elizabeth.brown@sakilacustomer.org,9,"Elizabeth, Brown",age: 46
6,6,jennifer.davis@sakilacustomer.org,10,"Jennifer, Davis",age: 24
7,7,maria.miller@sakilacustomer.org,11,"Maria, Miller",age: 21
8,8,susan.wilson@sakilacustomer.org,12,Susan - Wilson,age: 34
9,9,margaret.moore@sakilacustomer.org,13,"Margaret, Moore",age: 33
10,10,dorothy.taylor@sakilacustomer.org,14,"Dorothy, Taylor",age: 47
11,11,lisa.anderson@sakilacustomer.org,15,"lisa, anderson",age: 59
12,12,nancy.thomas@sakilacustomer.org,16,"Nancy, Thomas",age: 18
13,13,karen.jackson@sakilacustomer.org,17,"Karen, Jackson",age: 27
14,14,betty.white@sakilacustomer.org,18,"Betty, White",age: 24
15,15,helen.harris@sakilacustomer.org,19,"Helen, Harris",age: 53
16,16,sandra.martin@sakilacustomer.org,20,"Sandra, Martin",age: 52
17,17,donna.thompson@sakilacustomer.org,21,"Donna, Thompson",age: 46
18,18,carol.garcia@sakilacustomer.org,22,"Carol, Garcia",age: 57
19,19,ruth.martinez@sakilacustomer.org,23,"Ruth, Martinez",age: 23
20,20,sharon.robinson@sakilacustomer.org,24,"Sharon, Robinson",age: 58
21,21,michelle.clark@sakilacustomer.org,25,"Michelle, Clark",age: 29
22,22,laura.rodriguez@sakilacustomer.org,26,"Laura, Rodriguez",age: 22
23,23,sarah.lewis@sakilacustomer.org,27,sarah - Lewis,age: 51
24,24,kimberly.lee@sakilacustomer.org,28,"Kimberly, Lee",age: 46
25,25,deborah.walker@sakilacustomer.org,29,NaN,age: 49
26,26,jessica.hall@sakilacustomer.org,30,NaN,age: 35
27,27,shirley.allen@sakilacustomer.org,31,NaN,age: 26
28,28,cynthia.young@sakilacustomer.org,32,NaN,age: 37
29,29,angela.hernandez@sakilacustomer.org,33,"Angela, Hernandez",age: 24
30,30,melissa.king@sakilacustomer.org,34,"Melissa, King",age: 37
31,31,brenda.wright@sakilacustomer.org,35,"Brenda, Wright",age: 33
32,32,amy.lopez@sakilacustomer.org,36,"Amy, Lopez",age: 58
33,33,anna.hill@sakilacustomer.org,37,"Anna, Hill",age: 24
34,34,rebecca.scott@sakilacustomer.org,38,"Rebecca, Scott",age: 18
35,35,virginia.green@sakilacustomer.org,39,"Virginia, Green",age: 45
36,36,kathleen.adams@sakilacustomer.org,40,"Kathleen, Adams",age: 24
37,37,pamela.baker@sakilacustomer.org,41,"Pamela, Baker",age: 19
38,38,martha.gonzalez@sakilacustomer.org,42,"Martha, Gonzalez",age: 47
39,39,debra.nelson@sakilacustomer.org,43,"Debra, Nelson",age: 19
40,40,amanda.carter@sakilacustomer.org,44,"Amanda, Carter",age: 45
41,41,stephanie.mitchell@sakilacustomer.org,45,"Stephanie, Mitchell",age: 35
42,42,carolyn.perez@sakilacustomer.org,46,"Carolyn, Perez",age: 38
43,43,christine.roberts@sakilacustomer.org,47,"Christine, Roberts",age: 58
44,44,marie.turner@sakilacustomer.org,48,"Marie, Turner",age: 52
45,45,janet.phillips@sakilacustomer.org,49,"Janet, Phillips",age: 38
46,46,catherine.campbell@sakilacustomer.org,50,"Catherine, Campbell",age: 41
47,47,frances.parker@sakilacustomer.org,51,"Frances, Parker",age: 31
48,48,ann.evans@sakilacustomer.org,52,"Ann, Evans",age: 57
49,49,joyce.edwards@sakilacustomer.org,53,"Joyce, Edwards",age: 42
50,50,diane.collins@sakilacustomer.org,54,"Diane, Collins",age: 56
51,51,alice.stewart@sakilacustomer.org,55,"Alice, Stewart",age: 18
52,52,julie.sanchez@sakilacustomer.org,56,"Julie, Sanchez",age: 58
53,53,heather.morris@sakilacustomer.org,57,"Heather, Morris",age: 40
54,54,teresa.rogers@sakilacustomer.org,58,"Teresa, Rogers",age: 20
55,55,doris.reed@sakilacustomer.org,59,"Doris, Reed",age: 38
56,56,gloria.cook@sakilacustomer.org,60,"Gloria, Cook",age: 35
57,57,evelyn.morgan@sakilacustomer.org,61,"Evelyn, Morgan",age: 49
58,58,jean.bell@sakilacustomer.org,62,"Jean, Bell",age: 24
59,59,cheryl.murphy@sakilacustomer.org,63,"Cheryl, Murphy",age: 19
60,60,mildred.bailey@sakilacustomer.org,64,"Mildred, Bailey",age: 34
61,61,katherine.rivera@sakilacustomer.org,65,"Katherine, Rivera",age: 19
62,62,joan.cooper@sakilacustomer.org,66,"Joan, Cooper",age: 27
63,63,ashley.richardson@sakilacustomer.org,67,"Ashley, Richardson",age: 37
64,64,judith.cox@sakilacustomer.org,68,"Judith, Cox",age: 39
65,65,rose.howard@sakilacustomer.org,69,"Rose, Howard",age: 41
66,66,janice.ward@sakilacustomer.org,70,"Janice, Ward",age: 30
67,67,kelly.torres@sakilacustomer.org,71,"Kelly, Torres",age: 59
68,68,nicole.peterson@sakilacustomer.org,72,"Nicole, Peterson",age: 27
69,69,judy.gray@sakilacustomer.org,73,"Judy, Gray",age: 34
70,70,christina.ramirez@sakilacustomer.org,74,"Christina, Ramirez",age: 21
71,71,kathy.james@sakilacustomer.org,75,"Kathy, James",age: 43
72,72,theresa.watson@sakilacustomer.org,76,"Theresa, Watson",age: 20
73,73,beverly.brooks@sakilacustomer.org,77,"Beverly, Brooks",age: 31
74,74,denise.kelly@sakilacustomer.org,78,"Denise, Kelly",age: 20
75,75,tammy.sanders@sakilacustomer.org,79,"Tammy, Sanders",age: 59
76,76,irene.price@sakilacustomer.org,80,"Irene, Price",age: 33
77,77,jane.bennett@sakilacustomer.org,81,"Jane, Bennett",age: 30
78,78,lori.wood@sakilacustomer.org,82,"Lori, Wood",age: 42
79,79,rachel.barnes@sakilacustomer.org,83,"Rachel, Barnes",age: 53
80,80,marilyn.ross@sakilacustomer.org,84,"Marilyn, Ross",age: 48
81,81,andrea.henderson@sakilacustomer.org,85,"Andrea, Henderson",age: 31
82,82,kathryn.coleman@sakilacustomer.org,86,"Kathryn, Coleman",age: 34
83,83,louise.jenkins@sakilacustomer.org,87,"Louise, Jenkins",age: 53
84,84,sara.perry@sakilacustomer.org,88,"Sara, Perry",age: 33
85,85,anne.powell@sakilacustomer.org,89,"Anne, Powell",age: 20
86,86,jacqueline.long@sakilacustomer.org,90,"Jacqueline, Long",age: 36
87,87,wanda.patterson@sakilacustomer.org,91,"Wanda, Patterson",age: 20
88,88,bonnie.hughes@sakilacustomer.org,92,"Bonnie, Hughes",age: 54
89,89,julia.flores@sakilacustomer.org,93,"Julia, Flores",age: 25
90,90,ruby.washington@sakilacustomer.org,94,"Ruby, washington",age: 50
91,91,lois.butler@sakilacustomer.org,95,"Lois, Butler",age: 42
92,92,tina.simmons@sakilacustomer.org,96,"Tina, Simmons",age: 24
93,93,phyllis.foster@sakilacustomer.org,97,"Phyllis, Foster",age: 41
94,94,norma.gonzales@sakilacustomer.org,98,"Norma, Gonzales",age: 23
95,95,paula.bryant@sakilacustomer.org,99,"Paula, Bryant",age: 19
96,96,annie.russell@sakilacustomer.org,100,"Diana, Alexander",age: 56
97,97,annie.russell@sakilacustomer.org,101,"Annie, Russell",age: 43
98,98,lillian.griffin@sakilacustomer.org,102,"Lillian, Griffin",age: 21
99,99,emily.diaz@sakilacustomer.org,103,"Emily, Diaz",age: 26
0,100,jared.ely@sakilacustomer.org,104,"Jared, Ely",age: 58

### ❤ name 데이터 탐색 및 정제

In [224]:
diss_cp['name']=diss['name'].str.replace('-','')

In [225]:
diss_cp['name']=diss['name'].str.replace(',','')

In [226]:
diss_cp['name']

1             Mary Smith
2            mary  smith
3         Linda Williams
4          Barbara Jones
5        Elizabeth Brown
6         Jennifer Davis
7           Maria Miller
8          Susan  Wilson
9         Margaret Moore
10        Dorothy Taylor
11         lisa anderson
12          Nancy Thomas
13         Karen Jackson
14           Betty White
15          Helen Harris
16         Sandra Martin
17        Donna Thompson
18          Carol Garcia
19         Ruth Martinez
20       Sharon Robinson
21        Michelle Clark
22       Laura Rodriguez
23          sarah  Lewis
24          Kimberly Lee
25                   NaN
26                   NaN
27                   NaN
28                   NaN
29      Angela Hernandez
30          Melissa King
31         Brenda Wright
32             Amy Lopez
33             Anna Hill
34         Rebecca Scott
35        Virginia Green
36        Kathleen Adams
37          Pamela Baker
38       Martha Gonzalez
39          Debra Nelson
40         Amanda Carter
41    Stephanie Mitchell
42         Carolyn Perez
43     Christine Roberts
44          Marie Turner
45        Janet Phillips
46    Catherine Campbell
47        Frances Parker
48             Ann Evans
49         Joyce Edwards
50         Diane Collins
51         Alice Stewart
52         Julie Sanchez
53        Heather Morris
54         Teresa Rogers
55            Doris Reed
56           Gloria Cook
57         Evelyn Morgan
58             Jean Bell
59         Cheryl Murphy
60        Mildred Bailey
61      Katherine Rivera
62           Joan Cooper
63     Ashley Richardson
64            Judith Cox
65           Rose Howard
66           Janice Ward
67          Kelly Torres
68       Nicole Peterson
69             Judy Gray
70     Christina Ramirez
71           Kathy James
72        Theresa Watson
73        Beverly Brooks
74          Denise Kelly
75         Tammy Sanders
76           Irene Price
77          Jane Bennett
78             Lori Wood
79         Rachel Barnes
80          Marilyn Ross
81      Andrea Henderson
82       Kathryn Coleman
83        Louise Jenkins
84            Sara Perry
85           Anne Powell
86       Jacqueline Long
87       Wanda Patterson
88         Bonnie Hughes
89          Julia Flores
90       Ruby washington
91           Lois Butler
92          Tina Simmons
93        Phyllis Foster
94        Norma Gonzales
95          Paula Bryant
96       Diana Alexander
97         Annie Russell
98       Lillian Griffin
99            Emily Diaz
0              Jared Ely
Name: name, dtype: object

In [227]:
name_split=diss_cp['name'].str.split(" ")

diss_cp['first_name']=name_split.str.get(0)
diss_cp['last_name']=name_split.str.get(1)

In [228]:
diss_cp.head()

,customer_id,email,address_id,name,age,first_name,last_name
1,1,mary.smith@sakilacustomer.org,5,Mary Smith,age: 26,Mary,Smith
2,2,patricia.johnson@sakilacustomer.org,6,mary smith,age: 44,mary,
3,3,linda.williams@sakilacustomer.org,7,Linda Williams,age: 36,Linda,Williams
4,4,barbara.jones@sakilacustomer.org,8,Barbara Jones,age: 48,Barbara,Jones
5,5,elizabeth.brown@sakilacustomer.org,9,Elizabeth Brown,age: 46,Elizabeth,Brown

In [229]:
# nan있는 행 찾기
diss_cp[diss_cp['first_name'].isna() | diss_cp['last_name'].isna()]

,customer_id,email,address_id,name,age,first_name,last_name
25,25,deborah.walker@sakilacustomer.org,29,NaN,age: 49,NaN,NaN
26,26,jessica.hall@sakilacustomer.org,30,NaN,age: 35,NaN,NaN
27,27,shirley.allen@sakilacustomer.org,31,NaN,age: 26,NaN,NaN
28,28,cynthia.young@sakilacustomer.org,32,NaN,age: 37,NaN,NaN

In [230]:
#이메일에서 이름 채우기 (nan값 해결하기)
email=diss_cp['email'].str.split('[.,@]')

In [231]:
diss_cp['first_name']=email.str.get(0)
diss_cp['last_name']=email.str.get(1)

In [232]:
# nan있는 행 찾기
diss_cp[diss_cp['first_name'].isna() | diss_cp['last_name'].isna()]

Empty DataFrame
Columns: [customer_id, email, address_id, name, age, first_name, last_name]
Index: []

In [233]:
name=diss_cp[diss_cp['name'].isnull() | diss_cp['email'].isnull()]
name

,customer_id,email,address_id,name,age,first_name,last_name
25,25,deborah.walker@sakilacustomer.org,29,NaN,age: 49,deborah,walker
26,26,jessica.hall@sakilacustomer.org,30,NaN,age: 35,jessica,hall
27,27,shirley.allen@sakilacustomer.org,31,NaN,age: 26,shirley,allen
28,28,cynthia.young@sakilacustomer.org,32,NaN,age: 37,cynthia,young

In [234]:
diss_cp['name']=diss_cp['name'].fillna(diss_cp['first_name'].str.capitalize()+' '+diss_cp['last_name'].str.capitalize())

In [235]:
diss_cp.head()

,customer_id,email,address_id,name,age,first_name,last_name
1,1,mary.smith@sakilacustomer.org,5,Mary Smith,age: 26,mary,smith
2,2,patricia.johnson@sakilacustomer.org,6,mary smith,age: 44,patricia,johnson
3,3,linda.williams@sakilacustomer.org,7,Linda Williams,age: 36,linda,williams
4,4,barbara.jones@sakilacustomer.org,8,Barbara Jones,age: 48,barbara,jones
5,5,elizabeth.brown@sakilacustomer.org,9,Elizabeth Brown,age: 46,elizabeth,brown

In [ ]:
diss_cp['name'].loc[2]=diss_cp['first_name'].loc[2].capitalize()+' '+diss_cp['last_name'].loc[2].capitalize()
diss_cp['name'].loc[2]

In [237]:
# 대문자화되지 않은 값 확인
diss_cp[~diss_cp['name'].str.contains('[A-Z]')]

,customer_id,email,address_id,name,age,first_name,last_name
11,11,lisa.anderson@sakilacustomer.org,15,lisa anderson,age: 59,lisa,anderson

In [238]:
diss_cp['name'].loc[11]=diss_cp['first_name'].loc[11].capitalize()+' '+diss_cp['last_name'].loc[11].capitalize()
diss_cp['name'].loc[11]

'Lisa Anderson'

In [239]:
diss_cp

,customer_id,email,address_id,name,age,first_name,last_name
1,1,mary.smith@sakilacustomer.org,5,Mary Smith,age: 26,mary,smith
2,2,patricia.johnson@sakilacustomer.org,6,Patricia Johnson,age: 44,patricia,johnson
3,3,linda.williams@sakilacustomer.org,7,Linda Williams,age: 36,linda,williams
4,4,barbara.jones@sakilacustomer.org,8,Barbara Jones,age: 48,barbara,jones
5,5,elizabeth.brown@sakilacustomer.org,9,Elizabeth Brown,age: 46,elizabeth,brown
6,6,jennifer.davis@sakilacustomer.org,10,Jennifer Davis,age: 24,jennifer,davis
7,7,maria.miller@sakilacustomer.org,11,Maria Miller,age: 21,maria,miller
8,8,susan.wilson@sakilacustomer.org,12,Susan Wilson,age: 34,susan,wilson
9,9,margaret.moore@sakilacustomer.org,13,Margaret Moore,age: 33,margaret,moore
10,10,dorothy.taylor@sakilacustomer.org,14,Dorothy Taylor,age: 47,dorothy,taylor
11,11,lisa.anderson@sakilacustomer.org,15,Lisa Anderson,age: 59,lisa,anderson
12,12,nancy.thomas@sakilacustomer.org,16,Nancy Thomas,age: 18,nancy,thomas
13,13,karen.jackson@sakilacustomer.org,17,Karen Jackson,age: 27,karen,jackson
14,14,betty.white@sakilacustomer.org,18,Betty White,age: 24,betty,white
15,15,helen.harris@sakilacustomer.org,19,Helen Harris,age: 53,helen,harris
16,16,sandra.martin@sakilacustomer.org,20,Sandra Martin,age: 52,sandra,martin
17,17,donna.thompson@sakilacustomer.org,21,Donna Thompson,age: 46,donna,thompson
18,18,carol.garcia@sakilacustomer.org,22,Carol Garcia,age: 57,carol,garcia
19,19,ruth.martinez@sakilacustomer.org,23,Ruth Martinez,age: 23,ruth,martinez
20,20,sharon.robinson@sakilacustomer.org,24,Sharon Robinson,age: 58,sharon,robinson
21,21,michelle.clark@sakilacustomer.org,25,Michelle Clark,age: 29,michelle,clark
22,22,laura.rodriguez@sakilacustomer.org,26,Laura Rodriguez,age: 22,laura,rodriguez
23,23,sarah.lewis@sakilacustomer.org,27,sarah Lewis,age: 51,sarah,lewis
24,24,kimberly.lee@sakilacustomer.org,28,Kimberly Lee,age: 46,kimberly,lee
25,25,deborah.walker@sakilacustomer.org,29,Deborah Walker,age: 49,deborah,walker
26,26,jessica.hall@sakilacustomer.org,30,Jessica Hall,age: 35,jessica,hall
27,27,shirley.allen@sakilacustomer.org,31,Shirley Allen,age: 26,shirley,allen
28,28,cynthia.young@sakilacustomer.org,32,Cynthia Young,age: 37,cynthia,young
29,29,angela.hernandez@sakilacustomer.org,33,Angela Hernandez,age: 24,angela,hernandez
30,30,melissa.king@sakilacustomer.org,34,Melissa King,age: 37,melissa,king
31,31,brenda.wright@sakilacustomer.org,35,Brenda Wright,age: 33,brenda,wright
32,32,amy.lopez@sakilacustomer.org,36,Amy Lopez,age: 58,amy,lopez
33,33,anna.hill@sakilacustomer.org,37,Anna Hill,age: 24,anna,hill
34,34,rebecca.scott@sakilacustomer.org,38,Rebecca Scott,age: 18,rebecca,scott
35,35,virginia.green@sakilacustomer.org,39,Virginia Green,age: 45,virginia,green
36,36,kathleen.adams@sakilacustomer.org,40,Kathleen Adams,age: 24,kathleen,adams
37,37,pamela.baker@sakilacustomer.org,41,Pamela Baker,age: 19,pamela,baker
38,38,martha.gonzalez@sakilacustomer.org,42,Martha Gonzalez,age: 47,martha,gonzalez
39,39,debra.nelson@sakilacustomer.org,43,Debra Nelson,age: 19,debra,nelson
40,40,amanda.carter@sakilacustomer.org,44,Amanda Carter,age: 45,amanda,carter
41,41,stephanie.mitchell@sakilacustomer.org,45,Stephanie Mitchell,age: 35,stephanie,mitchell
42,42,carolyn.perez@sakilacustomer.org,46,Carolyn Perez,age: 38,carolyn,perez
43,43,christine.roberts@sakilacustomer.org,47,Christine Roberts,age: 58,christine,roberts
44,44,marie.turner@sakilacustomer.org,48,Marie Turner,age: 52,marie,turner
45,45,janet.phillips@sakilacustomer.org,49,Janet Phillips,age: 38,janet,phillips
46,46,catherine.campbell@sakilacustomer.org,50,Catherine Campbell,age: 41,catherine,campbell
47,47,frances.parker@sakilacustomer.org,51,Frances Parker,age: 31,frances,parker
48,48,ann.evans@sakilacustomer.org,52,Ann Evans,age: 57,ann,evans
49,49,joyce.edwards@sakilacustomer.org,53,Joyce Edwards,age: 42,joyce,edwards
50,50,diane.collins@sakilacustomer.org,54,Diane Collins,age: 56,diane,collins
51,51,alice.stewart@sakilacustomer.org,55,Alice Stewart,age: 18,alice,stewart
52,52,julie.sanchez@sakilacustomer.org,56,Julie Sanchez,age: 58,julie,sanchez
53,53,heather.morris@sakilacustomer.org,57,Heather Morris,age: 40,heather,morris
54,54,teresa.rogers@sakilacustomer.org,58,Teresa Rogers,age: 20,teresa,rogers
55,55,doris.reed@sakilacustomer.org,59,Doris Reed,age: 38,doris,reed
56,56,gloria.cook@sakilacustomer.org,60,Gloria Cook,age: 35,gloria,cook
57,57,evelyn.morgan@sakilacustomer.org,61,Evelyn Morgan,age: 49,evelyn,morgan
58,58,jean.bell@sakilacustomer.org,62,Jean Bell,age: 24,jean,bell
59,59,cheryl.murphy@sakilacustomer.org,63,Cheryl Murphy,age: 19,cheryl,murphy
60,60,mildred.bailey@sakilacustomer.org,64,Mildred Bailey,age: 34,mildred,bailey
61,61,katherine.rivera@sakilacustomer.org,65,Katherine Rivera,age: 19,katherine,rivera
62,62,joan.cooper@sakilacustomer.org,66,Joan Cooper,age: 27,joan,cooper
63,63,ashley.richardson@sakilacustomer.org,67,Ashley Richardson,age: 37,ashley,richardson
64,64,judith.cox@sakilacustomer.org,68,Judith Cox,age: 39,judith,cox
65,65,rose.howard@sakilacustomer.org,69,Rose Howard,age: 41,rose,howard
66,66,janice.ward@sakilacustomer.org,70,Janice Ward,age: 30,janice,ward
67,67,kelly.torres@sakilacustomer.org,71,Kelly Torres,age: 59,kelly,torres
68,68,nicole.peterson@sakilacustomer.org,72,Nicole Peterson,age: 27,nicole,peterson
69,69,judy.gray@sakilacustomer.org,73,Judy Gray,age: 34,judy,gray
70,70,christina.ramirez@sakilacustomer.org,74,Christina Ramirez,age: 21,christina,ramirez
71,71,kathy.james@sakilacustomer.org,75,Kathy James,age: 43,kathy,james
72,72,theresa.watson@sakilacustomer.org,76,Theresa Watson,age: 20,theresa,watson
73,73,beverly.brooks@sakilacustomer.org,77,Beverly Brooks,age: 31,beverly,brooks
74,74,denise.kelly@sakilacustomer.org,78,Denise Kelly,age: 20,denise,kelly
75,75,tammy.sanders@sakilacustomer.org,79,Tammy Sanders,age: 59,tammy,sanders
76,76,irene.price@sakilacustomer.org,80,Irene Price,age: 33,irene,price
77,77,jane.bennett@sakilacustomer.org,81,Jane Bennett,age: 30,jane,bennett
78,78,lori.wood@sakilacustomer.org,82,Lori Wood,age: 42,lori,wood
79,79,rachel.barnes@sakilacustomer.org,83,Rachel Barnes,age: 53,rachel,barnes
80,80,marilyn.ross@sakilacustomer.org,84,Marilyn Ross,age: 48,marilyn,ross
81,81,andrea.henderson@sakilacustomer.org,85,Andrea Henderson,age: 31,andrea,henderson
82,82,kathryn.coleman@sakilacustomer.org,86,Kathryn Coleman,age: 34,kathryn,coleman
83,83,louise.jenkins@sakilacustomer.org,87,Louise Jenkins,age: 53,louise,jenkins
84,84,sara.perry@sakilacustomer.org,88,Sara Perry,age: 33,sara,perry
85,85,anne.powell@sakilacustomer.org,89,Anne Powell,age: 20,anne,powell
86,86,jacqueline.long@sakilacustomer.org,90,Jacqueline Long,age: 36,jacqueline,long
87,87,wanda.patterson@sakilacustomer.org,91,Wanda Patterson,age: 20,wanda,patterson
88,88,bonnie.hughes@sakilacustomer.org,92,Bonnie Hughes,age: 54,bonnie,hughes
89,89,julia.flores@sakilacustomer.org,93,Julia Flores,age: 25,julia,flores
90,90,ruby.washington@sakilacustomer.org,94,Ruby washington,age: 50,ruby,washington
91,91,lois.butler@sakilacustomer.org,95,Lois Butler,age: 42,lois,butler
92,92,tina.simmons@sakilacustomer.org,96,Tina Simmons,age: 24,tina,simmons
93,93,phyllis.foster@sakilacustomer.org,97,Phyllis Foster,age: 41,phyllis,foster
94,94,norma.gonzales@sakilacustomer.org,98,Norma Gonzales,age: 23,norma,gonzales
95,95,paula.bryant@sakilacustomer.org,99,Paula Bryant,age: 19,paula,bryant
96,96,annie.russell@sakilacustomer.org,100,Diana Alexander,age: 56,annie,russell
97,97,annie.russell@sakilacustomer.org,101,Annie Russell,age: 43,annie,russell
98,98,lillian.griffin@sakilacustomer.org,102,Lillian Griffin,age: 21,lillian,griffin
99,99,emily.diaz@sakilacustomer.org,103,Emily Diaz,age: 26,emily,diaz
0,100,jared.ely@sakilacustomer.org,104,Jared Ely,age: 58,jared,ely

In [241]:
diss_cp=diss_cp.drop(['first_name','last_name'],axis=1)

### ♥ age 데이터 탐색 및 정제

In [242]:
diss_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 0
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  100 non-null    object
 1   email        100 non-null    object
 2   address_id   100 non-null    object
 3   name         100 non-null    object
 4   age          100 non-null    object
dtypes: object(5)
memory usage: 8.8+ KB

In [246]:
diss_cp['age']=diss_cp['age'].str[5:]
diss_cp['age'].head()

1    26
2    44
3    36
4    48
5    46
Name: age, dtype: object

In [251]:
#age에서 결측값이나 숫자가 아닌 데이터 찾기
diss_cp[diss_cp['age'].isna()|diss_cp['age'].str.contains('[^0-9]')]

Empty DataFrame
Columns: [customer_id, email, address_id, name, age]
Index: []

In [252]:
#age의 타입 변경하기 
diss_cp['age']=diss_cp['age'].astype('int')
diss_cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1 to 0
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  100 non-null    object
 1   email        100 non-null    object
 2   address_id   100 non-null    object
 3   name         100 non-null    object
 4   age          100 non-null    int64
dtypes: int64(1), object(4)
memory usage: 8.8+ KB

### 데이터 전처리 완료!!
완료된 파일은 다시 새로운 csv파일로 local에 저장하기

In [253]:
diss_cp.to_csv('diss_clean.csv',index=False)